<h3>Dry</h3>

<p>Chord:</p>

<audio controls>
  <source src="https://raw.githubusercontent.com/bholmesqub/DAFx15/gh-pages/audio/chord.wav" type="audio/wav">
Your browser does not support the audio element.
</audio> 

<p>Riff:</p>

<audio controls>
  <source src="https://raw.githubusercontent.com/bholmesqub/DAFx15/gh-pages/audio/riff.wav" type="audio/wav">
Your browser does not support the audio element.
</audio> 

<h3>Asymmetrical Diode Clipper</h3>

<p>Riff (peak voltage @ 4.5V):</p>
<audio controls>
  <source src="https://raw.githubusercontent.com/bholmesqub/DAFx15/gh-pages/audio/diode_riff.wav" type="audio/wav">
Your browser does not support the audio element.
</audio> 

<h3>Dallas Rangemaster</h3>

<p>Chord (peak voltage @ 255mV):</p>

<audio controls>
  <source src="https://raw.githubusercontent.com/bholmesqub/DAFx15/gh-pages/audio/rangemaster_chord.wav" type="audio/wav">
Your browser does not support the audio element.
</audio> 

<p>Riff (peak voltage @ 45mV):</p>

<audio controls>
  <source src="https://raw.githubusercontent.com/bholmesqub/DAFx15/gh-pages/audio/rangemaster_riff.wav" type="audio/wav">
Your browser does not support the audio element.
</audio> 