<p>Dry chord:<p>

<audio controls>
  <source src="https://raw.githubusercontent.com/bholmesqub/DAFx15/gh-pages/audio/chord.wav" type="audio/wav">
Your browser does not support the audio element.
</audio> 

<p>Dry riff:<p>

<audio controls>
  <source src="https://raw.githubusercontent.com/bholmesqub/DAFx15/gh-pages/audio/riff.wav" type="audio/wav">
Your browser does not support the audio element.
</audio> 

<p>Dallas Rangemaster chord (Peak voltage @ 255mV):<p>

<audio controls>
  <source src="https://raw.githubusercontent.com/bholmesqub/DAFx15/gh-pages/audio/rangemaster_chord.wav" type="audio/wav">
Your browser does not support the audio element.
</audio> 

<p>Dallas Rangemaster riff (Peak voltage @ 45mV):<p>

<audio controls>
  <source src="https://raw.githubusercontent.com/bholmesqub/DAFx15/gh-pages/audio/rangemaster_riff.wav" type="audio/wav">
Your browser does not support the audio element.
</audio> 